# Analysis of Subject Data

Content under Creative Commons license CC-BY-NC-SA 4.0   
Code under GNU-GPL v3 License  
By [Serena Bonaretti](https://sbonaretti.github.io/)
---

The aim of this notebook is to calculate descriptive statistics for a group of subjects from tabular data  
This notebook can be attached to the *Material* paragraph of your paper

*Structure of the subject dataframe (i.e. table)*  
Each *row* corresponds to a *subject*, and each *column* corresponds to a *characteristic*. E.g.:

| subject_id |      age      |  gender | anatomy | laterality
|:----------:|:-------------:|:-------:| :------:| :---------:
| ID_01      | 66            | f       | hip     | r
| ID_02      | 53            | m       | ankle   | l

**What you do:**  
To use your data, you can modify the table template following these steps:
- Download `subjects_templates.csv` (open-source version) or `subjects_templates.xlsx` (proprietary version) 
- Do not change the column headers (e.g. `subject_id`, `age`, etc.), but
- Change the table content according to your own data. You can also add new columns, and add new queries by adapting the code below
- Add the path to the dataframe in the code below (look for the arrow ->)

**What the notebook does:**
- Reads a table containing data about subjects, such as gender, age, anatomy, anatomy laterality. Data are organized in a tabular file, which can be in `.csv` (open file format) or `.xlsx` (proprietary file format)  
- Gets:
  - Number of subject
  - Average, standard deviation, max, and min age 
  - Number of subjects per gender
  - Anatomies
  - Number of anatomies per laterality (left/right)  
- Prints out dependencies for reproducibility

To read and query the data, it uses the python package `pandas`

---

In [1]:
import pandas as pd

## Load the data

Load the tabular data using the pandas function `read_csv` (or `read_excel`):

In [2]:
df = pd.read_csv("./data/tabular/subjects_template.csv")

# if your table is in .xlsx, use the command below and comment out the command above
#df = pd.read_excel("subjects_template.xlsx")

Print out the table. Please note that the index starts from 0:

In [3]:
df

   subject_id  age gender anatomy laterality
0       ID_01   66      f     hip          r
1       ID_02   53      m   ankle          l
2       ID_03   50      f     hip          r
3       ID_04   52      f     hip          l
4       ID_05   73      m     hip          l
5       ID_06   67      m   ankle          r
6       ID_07   71      m     hip          r
7       ID_08   56      f   ankle          l
8       ID_09   60      m     hip          l
9       ID_10   78      f     hip          r
10      ID_11   76      m     hip          r
11      ID_12   72      m   ankle          r
12      ID_13   54      f   ankle          l
13      ID_14   79      f     hip          l
14      ID_15   51      f     hip          r
15      ID_16   59      m     hip          l
16      ID_17   62      m     hip          r
17      ID_18   63      m     hip          l
18      ID_19   65      f   ankle          r
19      ID_20   58      m     hip          l
20      ID_21   61      f     hip          l
21      ID_22   75      f     hip          r
22      ID_23   64      m     hip          r
23      ID_24   57      f   ankle          l
24      ID_25   55      m     hip          l
25      ID_26   69      f     hip          r
26      ID_27   72      m     hip          r
27      ID_28   68      f   ankle          l
28      ID_29   74      m     hip          r
29      ID_30   77      f     hip          l

If the table is too long, you can:
- Make the table scollable by right-clicking on the table, and then `Enable scolling to output`, or
- Show only the first five rows with the command: `df.head()`

In [4]:
df.head()

  subject_id  age gender anatomy laterality
0      ID_01   66      f     hip          r
1      ID_02   53      m   ankle          l
2      ID_03   50      f     hip          r
3      ID_04   52      f     hip          l
4      ID_05   73      m     hip          l

## Get number of subjects
The number of subjects coincides with the number of rows:

In [5]:
n_of_rows = df.shape[0]
print (n_of_rows)

30

## Age: Get average, standard deviation, max, and min 
Calculate average, standard deviation, max, and min for the values in the column `age`)

In [6]:
# average
average_age = df["age"].mean()
print ("The average age is: " + str(round(average_age,2))) # round(average_age,2) rounds to 2 decimals 

# standard deviation
stddev_age = df["age"].std()
print ("The standard deviation is: " + str(round(stddev_age,2))) 

# max
max_age = df["age"].max()
print ("The max age is: " + str(round(max_age,2))) 

# min
min_age = df["age"].min()
print ("The min age is: " + str(round(min_age,2)))

The average age is: 64.57
The standard deviation is: 8.85
The max age is: 79
The min age is: 50

## Gender: Get number of female and male
Count the unique values in the column `gender`:

In [7]:
n_of_sex = df["gender"].value_counts()
print (n_of_sex)

m    15
f    15
Name: gender, dtype: int64

## Anatomy: Get organ 
Count the unique values in the column `anatomy`:

In [8]:
n_of_anatomy = df["anatomy"].value_counts()
print(n_of_anatomy)

hip      22
ankle     8
Name: anatomy, dtype: int64

## Laterality: Get number of right and left
Count the unique values in the column `laterality`:

In [9]:
n_of_laterality = df["laterality"].value_counts()
print (n_of_laterality)

r    15
l    15
Name: laterality, dtype: int64

--- 
## Dependencies
Dependencies keep track of the computational environment, so that we can make our workflows reproducible.  
Here we use the package watermark. If you haven't installed it yet, go to your terminal, and type `pip install watermark`

In [10]:
%load_ext watermark
%watermark -v -m -p pandas,watermark

CPython 3.7.6
IPython 7.13.0

pandas 1.0.3
watermark 2.0.2

compiler   : Clang 4.0.1 (tags/RELEASE_401/final)
system     : Darwin
release    : 19.4.0
machine    : x86_64
processor  : i386
CPU cores  : 4
interpreter: 64bit